body {
  background-color: navy;
  color: mediumturquoise;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.book {
  border: 1px solid yellow;
  border-radius: 10px;
}

.book .title {
  font-weight: bold;
  font-size: large;
}

.book .description {
  font-size: small;
}

.book .idNum {
  font-size: small;
}

.book .delete {
  color: red;
  font-size: small;
  cursor: pointer;
}

bookBox {
  position: relative;
  max-width: 100vw;
  display: flex;
  flex: row wrap;
  justify-content: space-evenly;
  gap: 10px 20px;
}